* {
    box-sizing: border-box;
}

body {
    background-color: #bfcfdf;
    color: #1a4864;
    font-family: "Varela Round",
        sans-serif;
    font-weight: 600;
    margin: 0;
}

td {
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    width: 45px;
    height: 45px;
}

.settings.container {
    background-color: #bfcfdf;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}

.settings.input {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.table.container {
    background-color: #bfcfdf;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.table.div {
    background-color: #bfcfdf;
    display: grid;
    height: 100vh;
    justify-content: center;
    margin-top: 30px;
    width: 100vw;
}

.table.msg-box {
    margin: 40px;
    text-align: center;
}

.table.msg-box.turn {
    font-weight: 600;
    font-size: 20px;
}

.table.msg-box.winner,
.table.msg-box.draw {
    font-size: 25px;
    font-weight: 900;
}

.btn-empty {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.btn-empty:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.btn-empty:active {
    position: relative;
    top: 1px;
}

.btn-create {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 6px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.btn-create:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.btn-create:active {
    position: relative;
    top: 1px;
}

.btn-start {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.btn-start:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}

.btn-start:active {
    position: relative;
    top: 1px;
}

.X {
    background-color: #476e9e;
    color: #ffff;
    font-size: 25px;
    font-weight: 900;
}

.O {
    background-color: #e4685d;
    font-size: 25px;
    font-weight: 900;
}
